<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UserManagement -->
      <package
            uri="https://tailerManager/userManagement"
            class="com.self.om.userManagement.UserManagementPackage"
            genModel="UserManagement.genmodel"/>
   </extension>

</plugin>
